# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
venv/

# Credentials and Tokens
credentials.json
keys.json
token.pickle

# Incomplete or Temporary Scripts
scripts/commission
scripts/productListing/decipher*
scripts/productListing/tester.py
scripts/productListing/submissions.json
scripts/productListing/genProductTypeDef.py
scripts/chatGPTandExcel/excelVBA.README
